Repository KrisPrzybyla/planning-poker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run test:react -- --passWithNoTests, npm run test:backend -- --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "npm run test:react -- --passWithNoTests",
    "npm run test:backend -- --passWithNoTests"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

Refactoring
  .env.example
  .eslintrc.cjs
  .eslintrc.js
  .github/workflows/docker-image.yml
  .nvmrc
  Dockerfile
  Dockerfile.low-memory
  MEMORY_OPTIMIZATION.md
  README.md
  database-schema.sql
  docker-compose.low-memory.yml
  jest.react.config.cjs
  mysql-config.example.js
  package-lock.json
  package.json
  server-mysql.js
  server-optimized.js
  server.js
  src/components/HealthIndicator.tsx
  src/hooks/useHealthCheck.ts
  start-low-memory.sh
  tests/react/hooks/useHealthCheck.test.tsx
  tests/react/setup.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, npm run test:react -- --passWithNoTests, npm run test:backend -- --passWithNoTests, prettier --write

Fix dockerfile
  Dockerfile
  package.json
Due: prettier --write

Fix dockerfile
  Dockerfile
Due: none

feat(server, logging, docker, ci): production-grade logging, low-memory profile, multi-stage Docker build, test gate in CI; fix ack crash
  .github/workflows/docker-image.yml
  Dockerfile
  artillery-sio.yml
  logger.js
  server.js
Due: eslint --fix, npm run test:react -- --passWithNoTests, npm run test:backend -- --passWithNoTests

Update docker-image.yml
  .github/workflows/docker-image.yml
Due: none

ci(workflow): fix lowmem tag format (replace '/' with '-') and restrict extra lowmem tag to releases only
  .github/workflows/docker-image.yml
Due: none

ci(workflow): fix GA expression (replace() not supported) by sanitizing ref via step output; guard lowmem extra tag for releases only
  .github/workflows/docker-image.yml
Due: none

perf(cache): add safe Cache-Control headers for CF (assets: 1y immutable; HTML: no-cache; API already no-store via middleware); add production compose with lowmem profile
  docker-compose.production.yml
  server.js
Due: eslint --fix, npm run test:react -- --passWithNoTests, npm run test:backend -- --passWithNoTests

Changed favicon
  index.html
  public/poker.svg
  public/vite.svg
Due: none

Optimized failcheck
  .env.example
  PRODUCTION.md
  README.md
  docker-compose.low-memory.yml
  docker-compose.production.yml
  docker-compose.yml
  server-mysql.js
  server-optimized.js
  server.js
  src/App.tsx
  src/components/HealthIndicator.tsx
  src/hooks/useHealthCheck.ts
  tests/react/components/HealthIndicator.test.tsx
Due: eslint --fix, npm run test:react -- --passWithNoTests, npm run test:backend -- --passWithNoTests, prettier --write

Enhanced logging
  server.js
Due: eslint --fix, npm run test:react -- --passWithNoTests, npm run test:backend -- --passWithNoTests

Enhanced logging
  logger.js
  server.js
Due: eslint --fix, npm run test:react -- --passWithNoTests, npm run test:backend -- --passWithNoTests

Refactoring
  .env.example
  .eslintrc.cjs
  .github/workflows/docker-image.yml
  .gitignore
  Dockerfile
  README.md
  babel.config.cjs
  jest.config.cjs
  logger.js
  package-lock.json
  package.json
  roomStore.js
  server.js
  src/components/CreateRoomForm.tsx
  src/components/JoinRoomForm.tsx
  src/context/RoomContext.tsx
  src/hooks/useSavedUserName.ts
  tests/backend/socket.test.ts
  tests/react/context/RoomContext.test.tsx
Due: eslint --fix, npm run test:react -- --passWithNoTests, npm run test:backend -- --passWithNoTests, prettier --write

Refactoring
  package-lock.json
  package.json
Due: prettier --write

Refactoring
  .github/workflows/docker-image.yml
  .nvmrc
  Dockerfile
  Dockerfile.low-memory
  MEMORY_OPTIMIZATION.md
  PRODUCTION.md
  artillery-sio.yml
  package.json
  server.js
  src/App.tsx
  src/hooks/useBeforeUnload.ts
  start-production.sh
  tests/backend/socket.test.ts
  tests/frontend/utils.test.js
  tests/integration/health.test.js
Due: eslint --fix, npm run test:react -- --passWithNoTests, npm run test:backend -- --passWithNoTests, prettier --write

build: add Prettier and integrate with ESLint and lint-staged
  .eslintrc.cjs
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
Due: prettier --write

fix: resolve ESLint warnings in health-check and voting-modal hooks
  src/hooks/useHealthCheck.ts
  src/hooks/useVotingModal.ts
Due: eslint --fix, npm run test:react -- --passWithNoTests, npm run test:backend -- --passWithNoTests

refactor: extract useRoom into its own module
  src/App.tsx
  src/components/CreateRoomForm.tsx
  src/components/Header.tsx
  src/components/JoinRoomForm.tsx
  src/components/ParticipantsList.tsx
  src/components/StoryForm.tsx
  src/components/__tests__/ParticipantsList.test.tsx
  src/context/RoomContext.tsx
  src/context/roomContext.ts
  src/hooks/useScrumMasterActions.ts
  src/pages/RoomPage.tsx
  tests/react/components/Header.test.tsx
  tests/react/components/ParticipantsList.test.tsx
  tests/react/components/ScrumMasterControls.test.tsx
  tests/react/context/RoomContext.test.tsx
  tests/react/pages/RoomPage.test.tsx
Due: eslint --fix, npm run test:react -- --passWithNoTests, npm run test:backend -- --passWithNoTests

docker: add Redis service and drop the low-memory profile
  Dockerfile
  Dockerfile.low-memory
  MEMORY_OPTIMIZATION.md
  docker-compose.low-memory.yml
  docker-compose.production.yml
  docker-compose.yml
  server-optimized.js
  start-low-memory.sh
Due: eslint --fix, npm run test:react -- --passWithNoTests, npm run test:backend -- --passWithNoTests, prettier --write

chore: remove dead MySQL path and other unused files
  .env.example
  .gitignore
  artillery-sio.yml
  database-schema.sql
  mysql-config.example.js
  server-mysql.js
  tsconfig.node.tsbuildinfo
Due: eslint --fix, npm run test:react -- --passWithNoTests, npm run test:backend -- --passWithNoTests

ci: pin Node, add lint/format gate, drop low-memory image build
  .github/workflows/docker-image.yml
Due: none

docs: add CLAUDE.md
  CLAUDE.md
Due: prettier --write
